[build]
  publish = "."
  functions = "netlify/functions"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[context.production.environment]
  OPENTYPHOON_API_KEY = ""

[context.deploy-preview.environment]
  OPENTYPHOON_API_KEY = ""
